.todo {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
} 

.titulo {
   font-size: 80px;
   font-family: Lucida Console, Courier, monospace;
   color: rgb(217, 103, 29);
  
}

img {
  max-width: 80%;
  height: auto;
  margin-top: 20px;
}
.memoria{

  margin: 50px auto;

  border-radius: 10px;
  position: relative;
  background: #FFFA62;
}

.memoria:after  {
  content: "";
  display: block;
  clear: both;
}
 
.carta {
  width: 14%;
  margin: 1% 1%;
  height: 150px;
  border-radius: 8px;
  float: left;
  cursor: pointer;
  
  
}

.inner-wrap {
  width: 100%;
  height: 100%;
  transition: all 0.6s;.
  -webkit-transition: all 0.6s;
  transform-style: preserve-3d;
  position: relative;
}


.frente {
  background: #FFCF7F top center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: 2;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transition: background 0.5s;
}

.flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);

}

.frente, .atras {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.atras {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  text-align: center;
  box-shadow: 0 6px 16px rgba(0,0,0,0.30);
  
}

.contador p {
    font-size: 30px;
    font-family: Lucida Console, Courier, monospace;
    color: rgb(217, 103, 29);
}

.contador {
    position: absolute;
    right: -185px;
    top: 58px;
}
p.counter {
    text-align: center;
    font-family: Lucida Console, Courier, monospace;
}


.todo > p {
    text-align: center;
    margin-bottom: 20px;
}

.frente:hover {
  background: #E8A868;
  cursor: pointer;
}
